<hr>
<footer class="text-center">
    <p>&copy; 2025 Event Booking Platform. All rights reserved.</p>

    {% if request.path == '/' %}
        <h4>Our Events</h4>
        <div class="container">
            {% for i in eve %}
                <div class="card text-center" style="width: 20rem; display:inline-block; margin: 20px;">
                    <img src="{{ i.img.url }}" class="card-img-top" alt="..." height="150px" width="200px">
                    <div class="card-body">
                        <h5 class="card-title">{{ i.name }}</h5>
                        <p class="card-text">{{ i.desc }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <h4>Recent Bookings</h4>
        <div class="container">
            {% for booking in bookings %}
                <div class="card text-left" style="width: 25rem; display:inline-block; margin: 10px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ booking.cus_name }} ({{ booking.cus_ph }})</h5>
                        <p class="card-text">
                            Event: {{ booking.name.name }} <br>
                            Booking Date: {{ booking.booking_date }} <br>
                            Booked On: {{ booking.booked_on }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</footer>
